<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styleAdm.css">
    <title>Login ADM</title>
</head>
<body>
    <section class="gridIndex">
        <section class="itemIndex1">
            <h1 class="itemTitle">Login ADM</h1>
        </section>
        <section class="itemIndex1b">
            <div class= "itemForm">
                <form class="form" action="/autenticarAdm" method="post">
                    <label for="email">Email</label>
                    <input class="formCadastrob"type="email" name="email" id="email">
                    <label for="senha">Senha</label>
                    <input class="formCadastrob"type="password" name="senha" id="senha">
                    <button class="buttonLogin" type="submit">Autenticar</button>
                </form>
            </div>
        </section>
    <main class="iitemIndex2">
        <div >
            
        </div>
    </main>
    <aside class="itemIndex3">
        <!--
            <form class="form" action="/cadastrarAdm" method="post">
            <input class="formCadastro" type="text" name="nome" id="cadastroNome" placeholder="Nome" required>
            
            <input class="formCadastro" type="email" name="email" id="cadastroemail" placeholder="Email" required> 
            
            <input class="formCadastro" type="password" name="senha" id="cadastroSenha" placeholder="Senha" required>
            
            <div class="formCadastro">
                <input type="radio" name="sexo" id="cadastroSexoF" value="f" required>
                <label for="cadastroSexoF">Feminino</label>
                
                <input type="radio" name="sexo" id="cadastroSexom" value="m" required>
                <label for="cadastroSexoM">Masculino</label>
            </div>
            
            <input type="hidden" name="nivel" value="3">

            <label class="formCadastro" for="cadastrNascimento">Data de nascimento</label>
            <input class="formCadastro" type="date" name="nascimento" id="cadastrNascimento" required>

            
            <button class="buttonCadastro" type="submit">Inscreva-se</button>
        </form>
    -->
    </aside>
    </section>
</body>
</html>